.color-selector {
	spaced(2);
	&__color {
		circle(3);
		inlineBlock();
		scale(1);
		spaced(1);
		cursor: pointer;
		margin-right: 1.5rem;
		&.-light {
			border(width: 1px);
		}
		&.-is-active {
			position: relative;
			&::after {
				absolute(50%, 50%);
				icon($icon.checkmark, 1.2);
				color: $colors.white;
				left: 0;
				text-align: center;
				width: 3rem;
			}
			&.-light {
				&::after {
					color: $colors.darkestGray;
				}
			}
		}
	}
}