{% set image = product.images[0] %}

<a href="/products/{{ product.slug }}"class="product-card l-products__item">
	{% if product.tags|length %}
		{% set tag =  product.tags[0] %}
		<div class="product-card__flag{% if tag.slug == 'new' %} -alt{% endif %}">{{ tag.title }}</div>
	{% endif %}
	<div class="product-card__image-wrap">
		<img src="{{ image }}" class="product-card__image" alt="{{ product.title }}">
	</div>
	<div class="product-card__meta">
		<h3 class="product-card__title">{{ product.title }}</h3>
		<div class="product-card__subtitle">${{ product.price }}</div>
	</div>
</a>