<div class="l-product-info">
	<div class="l-product-info__left">
		{% include 'components/image-gallery.njk' %}
	</div>
	<div class="l-product-info__right">
		<div class="l-product-info__right-section">
			{% include 'components/product-description.njk' %}
		</div>
		<div class="l-product-info__right-section">
			<div class="js-product-options"></div>
		</div>
	</div>
</div>
<meta data-set="product" data-value="{{ product|dump }}">