<div class="product-description">
	<h1 class="product-description__title">{{ product.title }}</h1>
	<a href="/products?category[]={{ product.category.slug }}">
		<h4 class="product-description__subtitle">{{ product.category.title }}</h4>
	</a>
	<div class="product-description__price">${{ product.price }}</div>
	<p>{{ product.description }}</p>
</div>