//------------------------------------*\
//	# Global
//------------------------------------*/

@include loadFont(icomoon);

body {
	background-color: $white;
}

.container {
	@include centeredBlock(144rem);
	padding-left: 0;
	padding-right: 0;
	height: 100%;
}

a {
	transition: color .2s ease-in-out;
	color: $blue;
	&:hover {
		color: $lightBlue;
	}
}

.button {
	&.-small {
		padding: .7rem 1.4rem;
	}
}





/*------------------------------------*\
	# Logo
\*------------------------------------*/

.logo {
	&__ee {
		transition: all .2s ease-in-out;
		opacity: 1;
		&.-is-hidden {
			opacity: 0;
		}
	}
}





/*------------------------------------*\
	# Main
\*------------------------------------*/

.content {
	overflow-y: hidden;
	min-height: 60rem;
	&.-is-fixed {
		margin-top: 11.3rem;
	}
}





/*------------------------------------*\
	# Transitions
\*------------------------------------*/

.fade-enter-active,
.fade-leave-active {
	transition: opacity .2s ease-in-out;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}