// Override core variables or add custom values here
// Default settings available at https://www.weepower.com/style/variables

$primary: #111;
$blue: #5789ff;
$lightBlue: opacify($blue, .8);
$offWhite: #fafafa;
$lightGray: #e7eaeb;

$baseFont: Heebo, Helvetica, Arial, sans-serf;
$color: $primary;
$headingFont: $baseFont;
$headingFontWeight: 500;

$iconCheckmark: '\ea10';
$iconCart: '\e93a';
$iconClose: '\ea0f';

$iconFont: icomoon;

@import '~@weepower/core/styles/variables.scss';
