$productLayoutGutter: 3%;

.products {
	spaced(4);
}

@tablet {
	.products {
		inlineRow($productLayoutGutter);
		spaced(4);
		&__item {
			inlineColumn(spaced, 1, 2, $productLayoutGutter);
		}
	}
}

@desktop {
	.products {
		&__item {
			inlineColumn(spaced, 1, 3, $productLayoutGutter);
		}
	}
}