$productLayoutGutter: 3%;

.l-products {
	spaced(4);
}

@tablet {
	.l-products {
		inlineRow($productLayoutGutter);
		spaced(4);
		&__item {
			inlineColumn(spaced, 1, 2, $productLayoutGutter);
		}
	}
}

@desktop {
	.l-products {
		&__item {
			inlineColumn(spaced, 1, 3, $productLayoutGutter);
		}
	}
}