.w-button {
	inlineBlock();
	position: relative;
	&__popup {
		absolute(140%);
		translate(x, -50%);
		color: $colors.white;
		background-color: $colors.black;
		left: 50%;
		text-align: center;
		padding: 1.3rem;
		width: 100%;
		&::before {
			absolute(-.72, 50%);
			block();
			content();
			square(1.5);
			background-color: $colors.black;
			transform: translateX(50%) rotate(45deg);
		}
	}
}