.product-description {
    margin-bottom: 4rem;

    &__title {
        margin-bottom: .5rem;
    }

    &__left {
        margin-bottom: 4rem;
    }

    &__price {
        font-size: 2rem;
        font-weight: $boldFontWeight;
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-size: 1.7rem;
        font-style: italic;
        font-weight: $normalFontWeight;
        margin-bottom: 2rem;
    }
}
