.product-description {
	spaced(4);
	&__title {
		spaced(.5);
	}
	&__left {
		spaced(4);
	}
	&__price {
		spaced(2);
		font-size: 2rem;
		font-weight: $font.weight.bold;
	}
	&__subtitle {
		spaced(2);
		font-size: 1.7rem;
		font-style: italic;
		font-weight: $font.weight.normal;
	}
}