.header {
	flexContainer(justify: space-between);
	transition(top);
	background-color: $colors.white;
	padding: 4rem 2.2rem;
	position: relative;
	z-index: 100;
	&.-is-fixed {
		position: fixed;
		top: -11.3rem;
		left: 0;
		right: 0;
	}
	&.-is-shown {
		top: 0;
	}
}

@desktop {
	.header {
		padding(horizontal, 3.5);
	}
}