$productInfoLayoutGutter: 6%;

@tablet {
	.l-product-info {
		&__right {
			row($productInfoLayoutGutter);
			margin(vertical, 4);
			&-section {
				column(spaced, 1, 2, $productInfoLayoutGutter);
			}
		}
	}
}

@desktop {
	.l-product-info {
		row($productInfoLayoutGutter);
		&__left,
		&__right {
			rowReset();
			column(spaced, 1, 2, 6%);
		}
		&__right {
			margin(vertical, 0);
			&-section {
				columnReset();
			}
		}
	}
}