$productInfoLayoutGutter: 6%;

@include tablet {
    .l-product-info {
        &__right {
            @include row($productInfoLayoutGutter);

            margin-bottom: 4rem;
            margin-top: 4rem;

            &-section {
                @include column(spaced, 1, 2, $productInfoLayoutGutter);
            }
        }
    }
}

@include desktop {
    .l-product-info {
        @include row($productInfoLayoutGutter);

        &__left,
        &__right {
            @include rowReset();
            @include column(spaced, 1, 2, 6%);
        }

        &__right {
            margin-bottom: 0;
            margin-top: 0;

            &-section {
                @include columnReset();
            }
        }
    }
}
