.l-product-roll {
	spaced(4);
	&__inner {
		inlineRow(6%);
	}
	&__items {
		inlineRow(6%);
	}
	&__item {
		inlineColumn(spaced, 1, 2, 6%);
		spaced(6%);
		transition(border-color);
		background-color: $colors.offWhite;
		border: 1px solid transparent;
		text-align: center;
		padding: 2rem;
		&:hover {
			border-color: $colors.blue;
		}
	}
}

@desktop {
	.l-product-roll {
		&__item {
			inlineColumn(spaced, 1, 4, 6%);
		}
	}
}