.l-product-index {
    position: relative;

    &.-fixed {
        margin-top: 11.3rem;
    }

    &__actions {
        @include flexContainer($align: flex-start, $justify: space-between);
    }

    &__sidebar {
        @include absolute(0, false, 0, -30rem);

        transition: left .2s ease-in-out;
        width: 30rem;

        &-toggle {
            @include absolute(1rem, 0);

            cursor: pointer;
            font-size: 2rem;
            z-index: 1;

            &::after {
                @include icon($iconClose, 1.1rem);
            }
        }

        &.-is-active {
            left: 0;
        }
    }

    &__content {
        margin-left: 0;
        min-width: 100%;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        transition: margin-left .2s ease-in-out;

        &.-is-active {
            margin-left: 30rem;
        }
    }
}

@include desktop2 {
    .l-product-index {
        &__sidebar {
            left: 0;

            &-toggle {
                display: none;
            }
        }

        &__content {
            margin-left: 30rem;
            min-width: 0;
        }
    }

    .sidebar {
        &__toggle-button {
            display: none;
        }
    }
}
